:root {
  --color-animation-pink: pink;
  --color-animation-black: black;
  --color-animation-cyan: cyan;
  /* Add more color variables as needed */
}

/* create custom properties for eaach color and then use only one @keyframes just but still cant reset animation*/

body {
background-color: white;
}

html {
overflow: hidden;
}

.changeThis {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.addPink {
  animation-name: changeMe;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
  background-color: pink; 
}

.change2Black {
  animation-name: change2Black;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
  background-color: rgb(3, 3, 3);

}

.changeCyan {
  animation-name: changeCyan;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
  background-color:cyan;
} 

@keyframes changeMe {
  0% {
    height: 0vh; 
    width: 0vw;
    border-radius: 50%;
  }
  50% {
    height: 100vh;
    width: 100vw;  
    border-radius: 50%;
  }
  100% {
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  }
}

@keyframes change2Black {
  0% {
    height: 0vh; 
    width: 0vw;
    border-radius: 50%;
  }
  50% {
    height: 100vh;
    width: 100vw; 
    border-radius: 50%;
  }
  100% {
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  }
}

@keyframes changeCyan {
  0% {
    height: 0vh; 
    width: 0vw;
    border-radius: 50%;
  }
  50% {
    height: 100vh;
    width: 100vw; 
    border-radius: 50%;
  }
  100% {
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  }
} */
