body{
  background-color: ghostwhite;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: sans-serif;
} 

form{
  position: absolute;
}

#circle{
  background-color: black;
  height: 0px;
  width: 0px;
  border-radius: 50%;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#reset-btn{
  display: none;
  position: absolute;
  cursor: pointer;
}

@keyframes growUp {
  from{

  }to{
    border-radius: 0px;
    height: 100vh; 
    width: 100vw;
  }
}